:root {
    --bg-light: #3B5B4F;
    --bg-light-highlight: #4B7464;
    --bg-light-lowlight: #2C443B;

    --bg-dark: #1D3834;
    --bg-dark-highlight: #33625B;
    --bg-dark-lowlight: #162A27;
    
    --accent-blue: #7EBCE6;
    --accent-blue-highlight: #9DD2F5;
    --accent-blue-lowlight: #5B88A6;
    --font-lightgrey: #c9c9c9;
    --font-darkgrey: #8f8f8f;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

::selection {
    background: var(--accent-blue);
    color: var(--bg-dark);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--accent-blue);
    color: var(--bg-dark);
    /* Gecko Browsers */
}

em {
    color: var(--accent-blue);
    font-style: italic;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', Tahoma, Verdana, sans-serif;
    color: var(--font-lightgrey);
    scrollbar-color: var(--bg-light) var(--bg-dark);
}

.main {
    width: 100%;
    background: var(--bg-dark);
    overflow: auto;
    text-align: center;
}

a:link,
a:visited {
    color: var(--accent-blue);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-blue);
    text-decoration: underline;
}

.navsections a:active {
    color: var(--accent-blue);
}

.navsections a:link {
    color: unset;
    text-decoration: none;
}

.navsections a:visited {
    color: unset;
}

.navsections a:hover {
    color: unset;
    text-decoration: underline;
}

.navsections a:active {
    color: var(--accent-blue);
}

nav {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 36pt;
    color: white;
    padding: 10px;
}

.navsections {
    list-style-type: none;
    overflow: hidden;
    font-size: 16pt;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.navsections a {
    float: left;
    margin: 10px;
    padding: 5pt 10pt;
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .4s, color .4s;
}

.navsections a:hover {
    background-color: var(--bg-dark-lowlight);
    transition: .2s;
    color: white;
}

.section {
    text-align: left;
    margin: auto;
    padding: 5px 40px;
    max-width: 800px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.section-title {
    width: 100%;
    font-weight: 600;
    font-size: 18pt;
    color: white;
}

.section-title hr {
    border-top: 1px solid white;
    margin: 3px 0 20px 0;
}

#about-section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#headshot {
    padding: 20px;
    min-width: 200px;
    max-width: 450px;
    box-sizing: border-box;
}

#headshot-img {
    width: 100%;
    border-radius: 50%;
    height: auto;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#aboutMe-para {
    min-width: 315px;
}

@media only screen and (max-width: 415px){
    #aboutMe-para, #headshot {
        min-width: 100%;
    }
    

}


#about-section-content div {
    flex-basis: auto;
    flex: 1;
}

#return-to-top-btn:link{
    color: var(--font-lightgrey);
    position: fixed;
    height: 50px;
    width: 50px;
    top: 10px;
    right: 10px;
    background-color: var(--bg-light);
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    transition: background-color .2s, box-shadow .4s, -webkit-box-shadow .4s;
    text-align: center;
    display: flex;
    justify-content: center;
}

#return-to-top-btn:hover {
    background-color: var(--bg-light-highlight);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#return-to-top-btn div {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#return-to-top-btn img {
    height: 100%;
}

#return-to-top-btn{
    text-decoration: none;
}

.experience-item{
    margin: 0 0 50px 0;  
}

#experience-list .experience-item:last-child{
    margin: 0;
}
.experience-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-dark-lowlight);
    color: var(--accent-blue);
    font-size: 14pt;
    align-items: flex-end;
    box-sizing: border-box;
    border-radius: 5px 5px 0 5px;
}

.experience-title-container, .experience-date{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.experience-title div:first-child{
    font-size: 14pt;
    font-weight: 300;
    margin-bottom: 5px;
}
.experience-title div:last-child{
    font-size: 18pt;
    font-weight: 600;
}

.experience-title{
    padding: 20px;
    box-sizing: border-box;
}




.experience-image-conatiner img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.experience-title-container div {
    flex: 1;
    min-width: 300px;
}

@media only screen and (max-width: 415px){
    .experience-title-container div{
        min-width: 100%; 
    }
}

.experience-date{
    background-color: var(--bg-light-highlight);
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.experience-date-container{
    display: flex;
    flex-direction: row-reverse;
}

.experience-descrip{
    padding: 10px 0;
}

button, .button, button:link, .button:link, .button:visited{
    display: inline-block;
    margin: 5px 10px;
    font-family: inherit;
    font-weight: 400;
    background-color: var(--accent-blue);
    padding: 5px 10px;
    font-size: unset;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: black;
    transition: background-color .2s, box-shadow .4s, -webkit-box-shadow .4s;
    cursor: pointer;
    text-decoration: none;
}

button:hover, .button:hover{
    color:black;
    background-color: var(--accent-blue-highlight);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.3);
}

button:active, .button:active,#return-to-top-btn:active{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0s;
}

button:active, .button:active{
    background-color: var(--accent-blue-lowlight);
}

#return-to-top-btn:active{
    background-color: var(--bg-light-lowlight);
}

#contact-button-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
}